<footer class="footer">
  <div class="footer__copyright">&copy;&nbsp; 2018&nbsp;&mdash;&nbsp;2021 Максим Павлов</div>
  <ul class="contacts footer__contacts">
    <li class="contacts__item">
      <a href="mailto:me@maximpavlov.su">me@masimpavlov.su</a>
    </li>
    <li class="contacts__item">
      <a href="https://twitter.com/ifelseapps" target="_blank">twitter</a>
    </li>
    <li class="contacts__item">
      <a href="https://github.com/ifelseapps" target="_blank">github</a>
    </li>
    <li class="contacts__item">
      <a href="https://facebook.com/ifelseapps" target="_blank">facebook</a>
    </li>
  </ul>
</footer>
