<footer class="footer">
  <div class="container">
    <div class="footer__menu">
      {% include 'menu.liquid' %}
    </div>
    <div class="footer__bottom">
      <div class="footer-copyright footer__copyright">
        <p class="footer-copyright__line">&copy;&nbsp;2018&nbsp;&mdash;&nbsp;2022 <a href="#">Максим Павлов</a>. Все права защищены. Перепечатка материалов разрешается только с согласия автора.</p>
        <p class="footer-copyright__line">Сайт построен с помощью <a href="https://11ty.dev" target="_blank">Eleventy</a> и размещен в <a href="https://www.netlify.com/" target="_blank">Netlify</a>.</p>
      </div>
      <div class="footer__subscribe">
        <form id="subscribe-form" class="subscribe-form">
          <div class="subscribe-form__inner">
            <label class="subscribe-form__label" for="email">Подписаться на рассылку</label>
            <span class="subscribe-form__field">
                <input name="email" id="email" placeholder="Введите e-mail" type="text" class="subscribe-form__input">
                <button class="button button_color_white subscribe-form__button" type="submit">
                  <span class="button__inner">Подписаться</span>
                </button>
              </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
