<header class="header">
  <div class="container header__inner">
    {% if site.locale == 'ru' %}
      {% assign url = '/' %}
    {% else %}
      {% assign url = '/' | append: site.locale | append: '/' %}
    {% endif %}
    <div class="header__name-wrapper">
      <a class="header__name" href="{{ url }}">
        {% include 'name.liquid' %}
      </a>
      <span class="header__settings">
        <button id="settings-btn" class="settings-button settings-button_sm">
          <svg class="settings-button__icon">
            <use xlink:href="#icon-settings"></use>
          </svg>
        </button>
      </span>
    </div>
    {% include 'menu.liquid' %}
  </div>
</header>
