<nav class="menu">
  <a href="/about" class="menu__item{% if page.url == '/about/' %} menu__item_active{% endif %}">Обо мне</a>
  <a href="#" class="menu__item">Проекты</a>
  <a href="/posts/" class="menu__item{% if page.url contains '/posts/' %} menu__item_active{% endif %}">Заметки</a>
  <a href="#" class="menu__item">Путешествия</a>
  <a href="#" class="menu__item">Контакты</a>
</nav>
