{% if site.locale == 'ru' %}
  {% assign prefix = '' %}
{% else %}
  {% assign prefix = '/' | append: site.locale %}
{% endif %}

<div class="js-menu menu menu_fallback">
  {% for item in site.navigation %}
    {% if item[site.locale] %}
      {% assign fullUrl = prefix | append: item.link %}
      <a href="{{ fullUrl }}" class="menu__item{% if page.url == fullUrl %} menu__item_active{% endif %}">
        {{ item[site.locale] }}
      </a>
    {% endif %}
  {% endfor %}
</div>

