<nav class="menu">
  <a href="/about" class="menu__item">Обо мне</a>
  <a href="#" class="menu__item">Проекты</a>
  <a href="#" class="menu__item">Заметки</a>
  <a href="#" class="menu__item">Путешествия</a>
  <a href="#" class="menu__item">Контакты</a>
</nav>
