<main class="posts-page page-inner container">
  <section class="posts-page__posts">
    <h1 class="h h_lvl_1">{{ title }}</h1>
    <ul class="posts-list">
      {% for post in posts %}
        <li class="post-detail posts-list__item">
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <aside class="posts-page__tags">
    {% include tags.liquid %}
  </aside>
</main>
