{%- for post in posts -%}
  <article class="post-item posts__item">
    <h1 class="post-item__title">
      <a class="post-item__link" href="{{ post.url |  url }}">
        {{ post.data.title }}
      </a>
    </h1>
    <p class="post-item__desc">
      {{ post.data.description }}
    </p>
  </article>
{%- endfor -%}
