<div id="settings-block" class="settings">
  <div class="container settings__inner">
    <div class="settings__item">
      {% include 'locales.liquid' %}
    </div>
    <div class="settings__item">
      <label id="theme-toggler" class="js-theme-toggler theme-switcher theme-switcher_animation-off">
        <span class="visually-hidden">Включить темную тему</span>
        <span class="theme-switcher__back">
          <input type="checkbox" class="js-checkbox visually-hidden theme-switcher__checkbox">
          <span class="theme-switcher__toggler"></span>
        </span>
      </label>
    </div>
  </div>
</div>
