<ul class="tags-list">
  {% assign tags = collections.tags %}
  {% for currentTag in tags %}
    {% capture tagUrl %}/tags/{{ currentTag }}/{% endcapture %}
    <li class="tag-item tags-list__item">
      <a class="tag-item__link" href="{{ tagUrl }}">{{ currentTag }}</a>
    </li>
  {% endfor %}
</ul>
