<ul class="tech-stack">
  <li class="tech-stack__item">HTML</li>
  <li class="tech-stack__item">CSS</li>
  <li class="tech-stack__item">БЭМ</li>
  <li class="tech-stack__item">JavaScript (ES3/ES5/ES6+)</li>
  <li class="tech-stack__item">TypeScript</li>
  <li class="tech-stack__item">Sass</li>
  <li class="tech-stack__item">Less</li>
  <li class="tech-stack__item">jQuery</li>
  <li class="tech-stack__item">React</li>
  <li class="tech-stack__item">Redux</li>
  <li class="tech-stack__item">Redux-saga</li>
  <li class="tech-stack__item">Emotion</li>
  <li class="tech-stack__item">Angular</li>
  <li class="tech-stack__item">Node.js</li>
  <li class="tech-stack__item">Gulp</li>
  <li class="tech-stack__item">Webpack</li>
  <li class="tech-stack__item">SQL</li>
  <li class="tech-stack__item">Git</li>
  <li class="tech-stack__item">Linux</li>
</ul>
