<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bundle.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/template/favicons/apple-touch-icon.png?v=4">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/template/favicons/favicon-32x32.png?v=4">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/template/favicons/favicon-16x16.png?v=4">
  <link rel="manifest" href="/images/template/favicons/site.webmanifest?v=4">
  <link rel="shortcut icon" href="/images/template/favicons/favicon.ico?v=4">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="https://maximpavlov.su/rss.xml">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/images/template/favicons/browserconfig.xml?v=4">
  <meta name="theme-color" content="#ffffff">
  <title>{{ title }}</title>
</head>
<body>
  {{ content | safe }}
</body>
</html>
