<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bundle.css">
  <title>{{ title }}</title>
</head>
<body>
  <div class="page">
    <header class="header">
      <div class="container header__inner">
        <a href="/">
          <img class="logo header__logo" src="/images/ninja.svg" alt="Logo">
        </a>
        <div>
          <h1 class="site-name">
            <a class="site-name__link" href="/">
              Блог Максима
            </a>
          </h1>
          <nav class="main-menu">
            <ul class="main-menu__list">
              <li class="main-menu__item">
                <a class="main-menu__link" href="/">Обо мне</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="/">Проекты</a>
              </li>
              <li class="main-menu__item">
                <a class="main-menu__link" href="/">Путешествия</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="content">
      {{ content |  safe }}
    </div>
    <footer class="footer container">
      <p>&copy;&nbsp;2018-2020 Максим Павлов</p>
      <p>Этот сайт не следит за вами и не собирает никакие данные.</p>
    </footer>
  </div>
</body>
</html>
