---
layout: default.liquid
---

<main class="post-page">
  <header class="post-page__header">
    <h1>{{ title }}</h1>
    <div>{{ date |  readableDate }}</div>
  </header>
  <p class="post-page__desc">{{ desc }}</p>
  {{ content |  safe }}
  <footer class="post-footer post-page__footer">
    <img class="post-footer__avatar" src="/images/avatar.jpg" alt="Моя фотография">
    <div class="post-footer__name">Максим Павлов</div>
    <div>senior frontend engineer</div>
    <div class="post-footer__desc">
      <div>Я занимаюсь промышленной web-разработкой&nbsp;около&nbsp;6&nbsp;лет.</div>
      <div>3 года назад я сосредоточился исключительно на&nbsp;разработке&nbsp;интерфейсов.</div>
      <div>Пишу на <strong>React</strong> и <strong>Angular</strong>.</div>
    </div>
    <a class="button post-footer__show-more" href="/">Подробнее</a>
  </footer>
</main>
