---
layout: default.liquid
---

<div class="post-page">
  <div class="post-page__top">
    <a href="{{ page.url | split: '/' | slice: 0, 2 | concat: '' |  join: '/' }}">&larr; Вернуться назад</a>
  </div>
  {{ content | safe }}
</div>
