html {
  font-family: 'Source Serif Pro', serif;
  font-size: calc(18px + .15vw);
  line-height: 1.3em;
}

html, body {
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
}

body {
  color: var(--color-text);
  background: #ECEFF1;
}

::selection {
  background: #37474F;
  color: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

address {
  font-style: normal;
}

code {
  font-family: inherit !important;
}

a {
  line-height: 1em;
  text-decoration: none;
  color: inherit;
  &:not([class]) {
    text-decoration: underline;
    text-decoration-color: #BDBDBD;
    text-decoration-thickness: .05em;
    text-underline-offset: 0.2em;
    transition: color 0.3s, text-decoration-color 0.3s;
    &:hover {
      color: #F50057;
      text-decoration-color: #F50057;
    }
  }
}

p {
  margin: 0;
}

p:not([class]) {
  margin: 0.5em 0;
}

ul:not([class]), ol:not([class]) {
  padding: 0 1.1em;
  margin: 1em 0;

  li {
    margin-left: 10px;
    &:not(:last-child) {
      margin-bottom: 0.6em;
    }

    ul, ol {
      margin: 0.5em 0;
    }
  }
}

ul {
  li::marker {
    color: #F50057;
  }
}

.h {
  margin: 0;
  line-height: 1.2em;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 900;
  letter-spacing: 0.02em;
  &_lvl {
    &_1 {
      font-size: var(--h1-size)!important;
    }
    &_2 {
      font-size: var(--h2-size)!important;
    }
    &_3 {
      font-size: var(--h3-size)!important;
    }
  }
}

.name {
  display: flex;
  align-items: center;
}

.name__part {
  &:first-letter {
    background: linear-gradient(-45deg, #F50057 0%, #D81B60 33%, #F50057 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #F50057;
    user-select: none;
  }
  &:first-child {
    margin-right: 0.2em;
  }
}

.link-solid {
  position: relative;
  letter-spacing: 0.01em;
  color: #E91E63;
  transition: color 0.3s;
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #E91E63;
    transition: transform 0.3s;
  }
  &:hover {
    color: #ffffff;
  }
  &:hover::after {
    transform: translateY(3px);
  }
}

.link-solid__inner {
  position: relative;
  z-index: 1;
}

.photo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: solid #F06292 4px;
  background: #e0e0e0 url(/images/template/photo.jpg) center no-repeat;
  background-size: cover;
  transform-origin: bottom right;
  transform: rotate(15deg);
  transition: transform 0.3s;
  &:hover {
    transform: rotate(0);
  }
}

.button {
  display: inline-flex;
  padding: 0.5em 1em;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 100;
  transition: background-color 0.3s, color 0.3s;
}

.button__inner {
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
}

.button_color_white {
  border: solid 0.1em #fff;
  background: #fff;
  color: var(--color-text);
  &:hover {
    background: transparent;
    color: #ffffff;
  }
}

.button_color_primary {
  padding: 0.1em;
  background: linear-gradient(45deg, #880E4F 33%, #F50057 66%);
}

.button_color_primary .button__inner {
  padding: 0.5em 2em;
  color: #ffffff;
}

.button_color_primary:hover .button__inner {
  background: #ECEFF1;
  color: var(--color-text);
}

.button_size_md {
  font-size: 1.4rem;
}

.button_size_lg {
  font-size: 2rem;
}

.button_with-shadow {
  box-shadow: 0 30px 50px 0px rgba(0, 0, 0, 0.27);
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.tags-list__item {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.2em 0.5em;
  line-height: unset;
  color: #fff;
  border-radius: 5px;
}

.tags-list_color_primary .tags-list__item {
  background: linear-gradient(45deg, #880E4F 0%, #F50057 100%);
}

.tags-list_color_grey .tags-list__item {
  background: linear-gradient(45deg, #37474F 0%, #607D8B 100%);
}

.tags-list__star {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  fill: #FFD600;
}

.image {
  display: block;
  width: 100%;
  max-width: 100%;
}

.important-block {
  position: relative;
  padding: 2em;
  background: #FCE4EC;
  overflow: hidden;
  &::before {
    content: '!';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transform: translate(-20%, -20%);
    border: solid 10px #F8BBD0;
    border-radius: 100%;
    color: #F8BBD0;
    font-size: 5rem;
    font-weight: 900;
    opacity: 0.3;
  }
  @include bp(md) {
    width: 70%;
    margin: auto;
  }
}

.important-block__inner {
  position: relative;
  z-index: 1;
}

.important-block__title {
  margin-bottom: 1em;
}

.important-block ul {
  margin: 0;
  padding: 0;
}

.line {
  width: 10%;
  height: 2px;
  margin: 3em auto;
  border: none;
  background: linear-gradient(to right, #880E4F 33%, #F50057 66%)

}
