html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: calc(14px + .15vw);
  line-height: 1.3em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--dark-900);
  background: #FAFAFA;
}

::selection {
  background: var(--primary-200);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

code {
  font-family: inherit !important;
}

a {
  text-decoration: none;
  border-bottom: solid 1px #BBDEFB;
  color: #1E88E5;
  &:hover {
    color: #E53935;
    border-color: #FFCDD2;
  }
}

p {
  margin: 0.5em 0;
}

ul, ol {
  margin: 0.5em 1em;
  padding: 0 0 0 0.4em;

  li {
    &:not(:last-child) {
      margin-bottom: 0.3em;
    }
  }
}

ul {
  li::marker {
    color: var(--primary-a-700);
  }
}

.button {
  display: inline-flex;
  padding: 1em 1.5em;
  line-height: 1;
  background: var(--primary-a-400);
  color: var(--dark-900);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px 0px #795548;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  &:hover {
    color: var(--dark-900);
    background: var(--primary-a-700);
  }
  &:active {
    box-shadow: inset 0px 2px 3px rgba(#795548, 0.3);
  }
}

.h {
  @include headerStyles;

  &_lvl {
    &_1 {
      font-size: var(--h1-size);
    }
    &_2 {
      font-size: var(--h2-size);
    }
    &_3 {
      font-size: var(--h3-size);
    }
  }
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.page-inner {
  background: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
  background: var(--primary-a-400);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
  }

  &__menu {
    margin-left: 50px;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  border: none;
  font-size: 1.1rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;

  &__avatar {
    position: relative;
    margin-right: 10px;
  }
}

.avatar {
  display: block;
  border-radius: 100%;

  &_size {
    &_sm {
      width: 40px;
      height: 40px;
    }
  }
}

.main-menu {
  display: flex;
  align-items: center;

  &__item {
    color: inherit;
    border: none;
    &:not(:last-child) {
      margin-right: 0.8em;
    }
    &_active {
      position: relative;
      font-weight: 700;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        padding: 0.4em;
        box-sizing: content-box;
        background: #fff;
        border: solid 2px var(--primary-a-700);
        opacity: 0.5;
      }
    }
  }
}

.footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 0.7rem;

  &__line {
    margin: 0;
  }
}
