html {
  font-family: 'Source Serif Pro', serif;
  font-size: calc(18px + .15vw);
  line-height: 1.3em;
}

html, body {
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
}

body {
  color: var(--color-text);
  background: #ECEFF1;
}

::selection {
  background: var(--color-primary);
  color: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

code {
  font-family: inherit !important;
}

a {
  line-height: 1em;
  text-decoration: none;
  color: inherit;
  &:not([class]) {
    color: var(--color-primary);
    border-bottom: solid 1px #e0e0e0;
    &:hover {
      border-color: var(--color-primary);
    }
  }
}

p {
  margin: 0;
}

p:not([class]) {
  margin: 0.5em 0;
}

ul:not([class]), ol:not([class]) {
  padding: 0 1.1em 1em;
  margin: 2em 0;

  li {
    margin-left: 10px;
    &:not(:last-child) {
      margin-bottom: 0.6em;
    }
  }
}

ul {
  li::marker {
    color: var(--color-primary);
  }
}

.h {
  margin: 0;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  &_lvl {
    &_1 {
      font-size: var(--h1-size);
    }
    &_2 {
      font-size: var(--h2-size);
    }
    &_3 {
      font-size: var(--h3-size);
    }
  }
}

.name {
  display: flex;
  align-items: center;
}

.name__part {
  &:first-letter {
    color: #E91E63;
  }
  &:first-child {
    margin-right: 0.2em;
  }
}

.link-solid {
  position: relative;
  letter-spacing: 0.01em;
  color: #E91E63;
  transition: color 0.3s;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #E91E63;
    transition: transform 0.3s;
  }
  &:hover {
    color: #ffffff;
  }
  &:hover::after {
    transform: translateY(3px);
  }
}

.link-solid__inner {
  position: relative;
  z-index: 1;
}

.photo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: solid #F06292 4px;
  background: #e0e0e0 url(/images/photo.jpg) center no-repeat;
  background-size: cover;
  transform-origin: bottom right;
  transform: rotate(15deg);
  transition: transform 0.3s;
  &:hover {
    transform: rotate(0);
  }
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border: solid 3px #fff;
  border-radius: 7px;
  font-weight: 100;
  background: #fff;
  color: var(--color-text);
  &:hover {
    background: transparent;
    color: #ffffff;
  }
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.tech-stack__item {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.2em 0.5em;
  background: #C51162;
  color: #fff;
  border-radius: 5px;
}
