.cv__section {
  &:not(:last-child) {
    margin-bottom: 3em;
  }
}

.cv-common {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    font-weight: 700;
    @media screen and (min-width: 768px) {
      width: 200px;
    }
  }

  &__value {
    margin: 0 0 0.5em;
    @media screen and (min-width: 768px) {
      width: calc(100% - 200px);
    }
  }
}

.experience {
  &__item {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.experience-item {
  &__period {
    margin-bottom: 0.4em;
  }

  &__company {
    font-weight: 700;
    margin-bottom: 0.4em;
  }

  &__position {
    font-weight: 400;
    font-style: italic;
  }

  &__charge {
    margin-top: 0;
    margin-bottom: 0;
  }
}
