.main-page {
  margin-top: 3em;

  &__banner {
    grid-column: 2 / 12;
    @include bp(md) {
      grid-column: 2 / 8;
    }
  }

  &__banner-desc {
    grid-column: 2 / 12;
    margin-top: 1em;
    @include bp(md) {
      display: flex;
      align-items: center;
      grid-column: 8 / 11;
      margin-top: 0;
    }
  }

  &__about {
    grid-column: 2 / 12;
    @include bp(md) {
      grid-column: 2 / 6;
    }
  }

  &__notes {
    grid-column: 2 / 12;
    @include bp(md) {
      grid-column: 6 / 12;
    }
  }
}

.jh-banner {
  position: relative;
  min-height: 100px;
  padding: 2em 1em;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #BBDEFB, #90CAF9);
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transform: translateX(-30%);
    background: url(/images/menorah.svg) no-repeat center;
    background-size: cover;
    opacity: 0.1;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #0D47A1;
  }

  &__desc {
    max-width: 500px;
    margin-top: 1em;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.1;
    @include bp(md) {
      font-size: 0.9rem;
    }
  }
}

.about-section {
  &__photo {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
