.container {
  min-width: 320px;
  padding: 0 1em;
  box-sizing: border-box;
  @include bp(md) {
    width: 90vw;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Helvetica Neue', sans-serif;
}

.menu__item {
  padding: 0.5em 1em;
  background-color: transparent;
  border-radius: 7px;
  transition: opacity 0.3s, background-color 0.3s;
  &:hover {
    color: #F06292;
    background-color: rgba(255, 255, 255, 0.03);
  }
}
