.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  transition: transform 0.3s;
}

.page-inner {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
}


.container {
  width: 90vw;
  margin: auto;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
  grid-row-gap: 0;
  grid-column-gap: 20px;
  &:not(:last-child) {
    margin-bottom: 3em;
  }
}

.header {
  padding: 1em 0;
  @include bp(md) {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
  }

  &__menu {
    margin-top: 1em;
    @include bp(md) {
      margin-top: 0;
      margin-left: calc(5vw + 2em);
    }
  }
}

.main-menu {
  display: flex;
  text-transform: lowercase;
  &__item {
    &:not(:last-child) {
      margin-right: 1.5em;
    }
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  color: inherit;
  line-height: 1;
  border: none;

  &__avatar {
    width: 2.5em;
    height: 2.5em;
  }

  &__name {
    margin-left: 0.4em;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}

.avatar {
  display: block;
  border-radius: 100%;
}

.footer {
  margin-top: 2em;
  font-size: 0.8rem;

  &__line {
    margin: 0.5em 0;
    line-height: 1;
  }
}
