.tag-item,
a.tag-item {
  display: inline-flex;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1;
  user-select: none;
  border: none;
}

ul.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding:  0.5em 0.5em 0;
  list-style: none;
  background: var(--secondary-50);
}

.tags-list__item {
  display: flex;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  &::before {
    display: none;
  }
}

ul.posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.posts .posts__current-tag {
  grid-column: 2 / 12;
  margin-bottom: 0.5em;
  line-height: 1;
}

.posts__item {
  &::before {
    display: none;
  }
}

.posts__item:not(:last-child) {
  margin-bottom: 0.5em;
}

.sidebar {}

.post-item {}

a.post-item__link {
  border: none;
}

.post-item__title {
  margin: 0 0 0.5em;
}
