:root {
  --background-color: #F5F5F5;
  --primary-a-700: #AA00FF;
  --primary-700: #7B1FA2;
  --primary-400: #AB47BC;
  --primary-100: #E1BEE7;
  --primary-50: #F3E5F5;
  --dark-900: #263238;
  --dark-600: #455A64;
  --dark-200: #b0bec5;
  --light: #fafafa;
}
