:root {
  --color-gray-50: #ECEFF1;
  --color-light: #fafafa;
  --color-dark: #212121;
  --color-primary-100: #E1BEE7;
  --color-primary-500: #9C27B0;
  --color-primary-800: #6A1B9A;

  --h1-size: 2.2rem;
  --h2-size: 1.6rem;
  --h3-size: 1.2rem;
}
