@font-face {
  font-family: 'Helvetica Neue';
  src:
    local('HelveticaNeueBlack'),
    url('fonts/HelveticaNeueCyr-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    local('HelveticaNeueBold'),
    url('fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    local('HelveticaNeueThin'),
    url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src:
    local('HelveticaNeueItalic'),
    url('fonts/HelveticaNeueCyr-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

:root {
  --background-color: #e8eaf6;
  --text-color: #263238;
  --primary-a-700: #2962ff;
  --primary-400: #42a5f5;
  --primary-100: #bbdefb;
  --dark-900: #263238;
  --dark-200: #b0bec5;
  --light: #fafafa;
}

html {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: calc(16px + .25vw);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #F5F5F5;
}

.site-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.site-name__link {
  color: inherit;
  text-decoration: none;
}

.page {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-gap: 1rem;
  height: 100%;
}

.container {
  margin: 0 2.5vw;
}

.main-menu {}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__link {
  padding: 0.2em 0.3em;
  text-decoration: none;
  font-size: 0.8rem;
  color: inherit;
  border-radius: 3px;
}

.main-menu__link:hover,
.main-menu__item_active .main-menu__link {
  background: rgb(106,27,144);
  background: linear-gradient(0deg, rgba(106,27,144,1) 0%, rgba(156,39,176,1) 100%);
  color: #fff;
}

.main-menu__item:not(:last-child) {
  margin-right: 0.2em;
}

.header {
  background: #fff;
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.header__logo {
  margin-right: 0.3em;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

@media screen and (max-width: 1023px) {
  .content {
    width: 90vw;
    margin: 0 auto;
  }
}

.content p,
.content ul {
  line-height: 1.5em;
}

.content a {
  padding: 0 0 0.05em;
  text-decoration: none;
  color: inherit;
  border-bottom: solid 1px var(--dark-200);
  transition: color 0.3s, border-color 0.3s;
}

.content a:hover {
  color: var(--primary-a-700);
  border-color: var(--primary-a-700);
}

.posts {}

.posts__item:not(:last-child) {
  margin-bottom: 3em;
}

.post-item {}

.post-item__title {
  margin: 0 0 0.5em;
  font-weight: 900;
}

.post-page {}

.post-page pre {
  max-width: 100%;
  overflow-x: auto;
}

.post-page__desc {
  font-style: italic;
}

.post-page .note {
  color: grey;
  font-style: italic;
}

.post-page .line {
  margin-top: 2em;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: dashed 1px var(--dark-200);
}

.post-page p {
  margin: 1em 0 0;
}

.post-page ul {
  margin: 1em 2em 0;
  padding: 0;
  list-style: none;
}

.post-page ul > li {
  position: relative;
}

.post-page ul > li::before {
  content: '';
  position: absolute;
  top: 0.5em;
  left: -0.8em;
  width: 6px;
  height: 6px;
  background: var(--primary-a-700);
  border-radius: 100%;
}

.post-page h1 {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 900;
}

.post-page h2 {
  margin: 1.5em 0 0.1em;
  font-size: 1.8rem;
  font-weight: 900;
}

.post-page h3 {
  margin: 1.5em 0 0.1em;
  font-weight: 900;
}

.post-page p > code {
  padding: 0.1em 0.3em;
  background: var(--primary-100);
  color: var(--primary-a-700);
  border-radius: 5px;
}

.post-page .note {
  font-size: 0.8rem;
}

@media screen and (max-width: 1023px) {
  .post-page .note {
    margin: 1em 4em;
    padding: 0 0 0 1em;
    border-left: solid 2px var(--dark-200);
  }
}

@media screen and (min-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
  }

  .content__main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 1rem;
    grid-auto-rows: min-content;
    grid-column: 1 / 10;
  }

  .content__sidebar {
    grid-column: 10 / 12;
  }

  .posts {}

  .posts__item {
    grid-column: 2 / 10;
  }

  .post-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-auto-rows: min-content;
    grid-column: 1/13;
  }

  .post-page p,
  .post-page ul,
  .post-page pre {
    grid-column: 2 / 9;
  }

  .post-page h1,
  .post-page h2,
  .post-page h3,
  .post-page__header {
    grid-column: 2 / 12;
  }

  .post-page .line {
    grid-column: 2 / 9;
    width: 100%;
  }

  .note-wrapper {
    position: relative;
  }

  .post-page .note {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    transform: translateX(100%);
  }

  .post-page__footer {
    grid-column: 1 / 13
  }
}
