---
layout: default.liquid
title: Contacts
---
<address>
  <p>
  The best way to contact me is to email me at <a href="mailto:me@maximpavlov.su">me@maximpavlov.su</a>.
  </p>
  <p>
    I review my mail regularly, and your letter will not go unanswered if it interests me. Also, emailing me will allow me to think carefully about responding to your letter.
  </p>
  {% line %}
  <p>
    Follow me:
    <a href="https://twitter.com/ifelseapps" target="_blank">Twitter</a>,
    <a href="https://github.com/ifelseapps" target="_blank">Github</a>.
  </p>
</address>
