<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <head>
    <h1>Блог Максима</h1>
    <div>
      <p>Привет! Меня зовут Максим Павлов. Я – разработчик интерфейсов (frontend-разработчик).
        Интересуюсь гражданской авиацией, историей. Люблю путешествовать, учу английский и иврит.</p>
        <nav>
          <ul>
            <li>Обо мне</li>
            <li>Проекты</li>
            <li>Путешествия</li>
            <li>
              <h2>Блог</h2>
              <ul>
                <li>Верстка</li>
                <li>Accessibility</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Сборка</li>
                <li>Angular</li>
                <li>React</li>
                <li>Разное</li>
              </ul>
            </li>
          </ul>
        </nav>
    </div>
  </head>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
