---
title: Ничего не найдено
permalink: 404.html
layout: 404.liquid
---

<div class="not-found-page">
  <div class="not-found-page__picture">
    {% image './src/images/krot.png', 'Крот' %}
  </div>
  <div class="not-found-page__titles">
    <h1 class="h h_lvl_1">Ничего не найдено</h1>
  </div>
  <div class="not-found-page__main-page-link">
    <a class="button button_color_primary button_with-shadow button_size_md" href="/">
      <span class="button__inner">На главную</span>
    </a>
  </div>
</div>

