---
layout: default.liquid
title: Обо мне
preview_text: На этой странице я рассказываю о себе, моем опыте, технологическом стеке, а также о моем подходе к работе. Если Вы эйчар, то предлагаю Вам ознакомиться с моим <a href="#">резюме</a>.
keywords: frontend, фронтенд, ui, ux, javascript, typescript, css, html, angular, react
---

<p>Hello world!</p>
