---
layout: default.liquid
title: Обо мне
preview_text: На этой странице я рассказываю о себе, моем опыте, технологическом стеке, а также о моем подходе к работе.
keywords: frontend, фронтенд, ui, ux, javascript, typescript, css, html, angular, react
---

<div class="post-page">
  {% image './src/images/photo_primary.jpg', 'Мое фото' %}
</div>
