---
layout: default.liquid
title: Контакты
description: Контакты для связи со мной
---
<address>
  <p>
    Лучший способ связаться со мной — <strong>написать мне на электропочту</strong>: <a href="mailto:me@maximpavlov.su">me@maximpavlov.su</a>.
  </p>
  <p>
    Я регулярно просматриваю почту и ваше письмо не останется без ответа, если заинтересует меня.
    Кроме того, обращение по электронной почте позволит мне хорошо обдумать ответ на ваше письмо.
  </p>
  {% line %}
  <p>Пишите в <a href="https://t.me/ifelseapps" target="_blank">Telegram</a>.</p>
  <p>
    Подписывайтесь в социальных сетях:
    <a href="https://twitter.com/ifelseapps" target="_blank">Twitter</a>,
    <a href="https://github.com/ifelseapps" target="_blank">Github</a>.
  </p>
  <p>Также меня можно найти в социальных сетях, заблокированных <em>Роскомнадзором</em>, под ником <strong>ifelseapps</strong>.</p>
</address>
