---
layout: default.liquid
title: Контакты
description: Контакты для связи со мной
---

<address>
  <p>
    Лучший способ связаться со мной — написать мне на электропочту: <a href="mailto:me@maximpavlov.su">me@maximpavlov.su</a>.
  </p>
  <p>Подписывайтесь в социальных сетях:</p>
  <ul>
    <li><a href="https://twitter.com/ifelseapps" target="_blank">Twitter</a></li>
    <li><a href="https://facebook.com/ifelseapps" target="_blank">Facebook</a></li>
    <li><a href="https://github.com/ifelseapps" target="_blank">Github</a></li>
  </ul>
</address>
