---
layout: default.liquid
title: Резюме senior frontend developer
description: Максим Павлов — senior frontend engineer
keywords: резюме, frontend, фронтенд, ui, ux, javascript, typescript, css, html, angular, react
---

<main class="cv container">
  <header class="cv__section">
    <h1 class="h h_lvl_1">Резюме</h1>
    <dl class="cv-common">
      <dt class="cv-common__label">Ф.И.О.</dt>
      <dd class="cv-common__value">Павлов Максим Александрович</dd>
      <dt class="cv-common__label">Позиция</dt>
      <dd class="cv-common__value">Senior frontend developer</dd>
      <dt class="cv-common__label">Занятость</dt>
      <dd class="cv-common__value">Удаленная работа, полный рабочий день. <em>Рассматриваю только трудовые отношения.</em></dd>
      <dt class="cv-common__label">Эл. почта</dt>
      <dd class="cv-common__value"><a href="mailto:me@maximpavlov.su">me@maximpavlov.su</a></dd>
      <dt class="cv-common__label">Github</dt>
      <dd class="cv-common__value"><a href="https://github.com/ifelseapps">github.com/ifelseapps</a></dd>
    </dl>
  </header>
  <section class="cv__section">
    <h2 class="h h_lvl_2">Стек технологий</h2>
    {% include tech-stack.liquid %}
  </section>
  <section class="cv__section">
    <h2 class="h h_lvl_2">Опыт работы</h2>
    <ul class="experience">
      <li class="experience-item experience__item">
        <div class="experience-item__period">Декабрь 2020 — н.в.</div>
        <div class="experience-item__company">ООО «Софт Дивижн», <span class="experience-item__position">senior frontend developer</span></div>
        <ul class="experience-item__charge">
          <li>Поддержка единой платформы для разработки интерфейсов</li>
        </ul>
      </li>
      <li class="experience-item experience__item">
        <div class="experience-item__period">Май 2019 — октябрь 2020</div>
        <div class="experience-item__company">ООО «Норд софт», <span class="experience-item__position">senior frontend developer</span></div>
        <ul class="experience-item__charge">
          <li>Разработка и поддержка единой платформы для разработки интерфейсов (в виде npm-пакета)</li>
          <li>Разработка и поддержка интерфейсов на базе единой платформы</li>
          <li>Разработка интерфейсов медицинской информационной системы</li>
        </ul>
      </li>
      <li class="experience-item experience__item">
        <div class="experience-item__period">Май 2018 — май 2019</div>
        <div class="experience-item__company">ООО «Фогсофт», <span class="experience-item__position">frontend developer</span></div>
        <ul class="experience-item__charge">
          <li>Разработка интерфейсов для продуктов компании</li>
          <li>Рефакторинг legacy-кода и перенос функционала на новый стек технологий</li>
        </ul>
      </li>
      <li class="experience-item experience__item">
        <div class="experience-item__period">Ноябрь 2017 — апрель 2018</div>
        <div class="experience-item__company">ООО «Ареал идея», <span class="experience-item__position">frontend developer</span></div>
        <ul class="experience-item__charge">
          <li>Верстка сайтов</li>
          <li>Разработка интерфейсов веб-приложений</li>
        </ul>
      </li>
      <li class="experience-item experience__item">
        <div class="experience-item__period">Ноябрь 2016 — октябрь 2017</div>
        <div class="experience-item__company">ООО «Ареал идея», <span class="experience-item__position">software engineer</span></div>
      </li>
      <li class="experience-item experience__item">
        <div class="experience-item__period">Май 2015 — ноябрь 2016</div>
        <div class="experience-item__company">ООО «Teamprofi», <span class="experience-item__position">software engineer</span></div>
      </li>
      <li class="experience-item experience__item">
        <div class="experience-item__period">Май 2014 — апрель 2015</div>
        <div class="experience-item__company">ООО «Турбиноф», <span class="experience-item__position">программист 1С-Битрикс</span></div>
      </li>
    </ul>
  </section>
  <section class="cv__section">
    <h2 class="h h_lvl_2">Образование</h2>
    <ul class="experience">
      <li class="experience-item experience__item">
        <div class="experience-item__period">2005 — 2010</div>
        <div class="experience-item__company">НОУ ВПО Московская академия предпринимательства при Правительстве Москвы, <span class="experience-item__position">специальность «финансы и кредит»</span></div>
      </li>
    </ul>
  </section>
</main>
