---
layout: default
title: Сотрудничество
---
<p>Привет! Я ищу команду мечты 🎉, которую усилю в роли <strong>frontend-разработчика</strong>.</p>
<p>В приоритете рассматриваю продуктовые компании.
В идеале — хочу попасть в инфраструктурную команду/команду ядра,
чтобы пилить дизайн-систему/общие библиотеки для других разработчиков.</p>
<p>Я разрабатываю сайты и веб-приложения уже <strong>8,5 лет</strong>
(последние 4 года я занимаюсь исключительно frontend'ом). У меня есть опыт fullstack-разработки.</p>
<p>Последние 2 года вместе с командой замечательных ребят пилю
  <a href="https://profile.mts.ru" target="_blank">&laquo;МТС Профиль&raquo;</a>.</p>
<hr class="line">
<p>Мой стек технологий:</p>
{% include 'tech-stack.liquid' %}
<hr class="line">
<p>Подробнее о моем опыте и подходе к работе можно узнать <a href="/about/">тут</a>.</p>
<p>Посмотреть примеры кода можно в моем профиле
на <a href="https://github.com/ifelseapps" target="_blank">Github</a>.</p>
<p>Пишите в <a href="https://t.me/ifelseapps" target="_blank">Telegram</a>
или на <a href="mailto:me@maximpavlov.su">почту</a>.</p>
