---
layout: default.liquid
title: Максим Павлов
description: Максим Павлов — senior frontend engineer
keywords: frontend, фронтенд, ui, ux, javascript, typescript, css, html, angular, react
---
<div class="page">
  <div>
    <div class="top-banner">
      <div class="container">
        На сайте появился новый раздел &mdash; <a href="#" class="link-solid"><span class="link-solid__inner">путешествия</span></a>.
      </div>
    </div>
    <header class="main-banner">
      <div class="main-banner__menu container">
        {% include menu.liquid %}
      </div>
      <div class="main-banner__inner container">
        <div class="main-banner__info">
          <div class="main-banner__title">
            {% include name.liquid %}
          </div>
          <div class="main-banner__preview-text">
            Привет! Я — senior frontend engineer. Разрабатываю интерфейсы, которыми пользуются тысячи людей,
            в <a href="#" class="link-solid"><span class="link-solid__inner">МТС</span></a>.
            В свободное время я люблю путешествовать, изучаю иврит и английский, интересуюсь историей и гражданской авиацией.
          </div>
          <div class="main-banner__more">
            <a href="#" class="button button_color_white">
              <span class="button__inner">Подробнее</span>
            </a>
          </div>
        </div>
        <div class="main-banner__photo">
          <div class="photo"></div>
        </div>
      </div>
    </header>
  </div>
  <div>
    <div class="container">
      <div class="top-section">
        <section class="tech-stack-section">
          <h2 class="h h_lvl_2 section-title">Стек технологий</h2>
          <ul class="tags-list tags-list_color_primary">
            <li class="tags-list__item">HTML</li>
            <li class="tags-list__item">CSS</li>
            <li class="tags-list__item">Sass</li>
            <li class="tags-list__item">Pug</li>
            <li class="tags-list__item">БЭМ</li>
            <li class="tags-list__item">JavaScript (ES5+)</li>
            <li class="tags-list__item">
              <svg class="tags-list__star">
                <use xlink:href="#icon-star"></use>
              </svg>
              TypeScript
            </li>
            <li class="tags-list__item">jQuery</li>
            <li class="tags-list__item">
              <svg class="tags-list__star">
                <use xlink:href="#icon-star"></use>
              </svg>
              React
            </li>
            <li class="tags-list__item">
              <svg class="tags-list__star">
                <use xlink:href="#icon-star"></use>
              </svg>
              Redux
            </li>
            <li class="tags-list__item">Redux-toolkit</li>
            <li class="tags-list__item">Redux-saga</li>
            <li class="tags-list__item">Next.js</li>
            <li class="tags-list__item">Angular</li>
            <li class="tags-list__item">Gulp</li>
            <li class="tags-list__item">Webpack</li>
            <li class="tags-list__item">Node.js</li>
            <li class="tags-list__item">Express</li>
            <li class="tags-list__item">Linux</li>
            <li class="tags-list__item">Git</li>
          </ul>
        </section>
        <section class="pinned-post">
          <div class="pinned-post__top">
            <h2 class="h h_lvl_3 pinned-post__title">Свежий пост</h2>
          </div>
          <div class="post-preview pinned-post__inner">
            <a href="#" class="post-preview__title">Практика TypeScript. Generics.</a>
            <div class="post-preview__date">01.10.2021</div>
            <div class="post-preview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti dolor, enim explicabo ipsam nemo saepe tempora vel. Consectetur, consequatur consequuntur fuga iusto minima officia rerum sit ullam voluptas voluptatum.</div>
          </div>
        </section>
      </div>
      <section class="main-page-section">
        <h2 class="h h_lvl_1 section-title">Заметки</h2>
        <div class="main-page-section__tags">
          <div class="tags-list tags-list_color_grey">
            <a class="tags-list__item" href="#">Верстка</a>
            <a class="tags-list__item" href="#">CSS</a>
            <a class="tags-list__item" href="#">React</a>
            <a class="tags-list__item" href="#">TypeScript</a>
            <a class="tags-list__item" href="#">Книги</a>
            <a class="tags-list__item" href="#">Фильмы</a>
          </div>
        </div>
        <div class="posts-grid">
          <a class="post-preview posts-grid__item" href="#">
            <div class="post-preview__title">Практика TypeScript. Generics.</div>
            <div class="post-preview__date">01.10.2021</div>
            <div class="post-preview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti dolor, enim explicabo ipsam nemo saepe tempora vel. Consectetur, consequatur consequuntur fuga iusto minima officia rerum sit ullam voluptas voluptatum.</div>
          </a>
          <a class="post-preview posts-grid__item" href="#">
            <div class="post-preview__title">Описание состояний интерфейса с помощью TypeScript</div>
            <div class="post-preview__date">01.10.2021</div>
            <div class="post-preview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti dolor, enim explicabo ipsam nemo saepe tempora vel. Consectetur, consequatur consequuntur fuga iusto minima officia rerum sit ullam voluptas voluptatum.</div>
          </a>
          <a class="post-preview posts-grid__item" href="#">
            <div class="post-preview__title">Создание библиотеки на TypeScript.</div>
            <div class="post-preview__date">01.10.2021</div>
            <div class="post-preview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti dolor.</div>
          </a>
        </div>
        <div class="main-page-section__show-more">
          <a class="button button_color_primary button_size_md button_with-shadow" href="#">
            <span class="button__inner">Все заметки</span>
          </a>
        </div>
      </section>
      <section class="main-page-section">
        <div class="important-block">
          <div class="important-block__inner">
            <h2 class="h h_lvl_2 section-title important-block__title">Что я умею?</h2>
            <div class="services">
              <div class="services__column">
                <ul>
                  <li>Верстка (кроссбраузерно, адаптивно и доступно)</li>
                  <li>Разработка SPA-приложений на React</li>
                  <li>Имплементация дизайн-системы, разработанной вашим дизайнером</li>
                </ul>
              </div>
              <div class="services__column">
                <ul>
                  <li>Оптимизация производительности клиентской части сайта или приложения</li>
                  <li>Разработка с использованием BFF (backend for frontend) на nodejs</li>
                  <li>Менторинг начинающих разработчиков</li>
                </ul>
              </div>
            </div>
            <hr class="line">
            <p>Нам <strong>не стоит сотрудничать</strong>, если:</p>
            <ul>
              <li><strong>Вам нужно дешево и (или) &laquo;на вчера&raquo;</strong>. Высокая стоимость моей работы обусловлена большой экспертизой и опытом.
                Я не берусь за &laquo;горящие&raquo; проекты, т.к. слишком высокая скорость разработки предполагает компромисс качества.</li>
              <li><strong>Вы предлагаете сотрудничество через ИП, самозанятость или гражданско-правовой договор</strong>. Меня интересует только официальное трудоустройство.</li>
              <li><strong>Вы представляете аутсорс-компанию или стартап</strong>. У меня есть опыт работы в аутсорсе и я разочарован качеством проектов,
                которые передаются заказчику. Атмосфера стартапа мне также не по душе из-за &laquo;горящих&raquo; сроков, совмещения обязанностей нескольких
                специалистов, овертаймов и компромисса в области качества кода выпускаемого продукта. <strong>Я ориентирован</strong> на работу в крупных продуктовых компаниях с отлаженными процессами.</li>
              <li><strong>Ваша сфера деятельности</strong> не соответствует моим этическим и моральным представлениям (онлайн-казино, эскорт услуги, религиозные организации и т.д.).</li>
            </ul>
            <hr class="line">
            <p>Подробнее с моим опытом можно познакомиться в разделе <a href="#">обо мне</a>.</p>
          </div>
        </div>
      </section>
      <section class="main-page-section">
        <h2 class="h h_lvl_1 section-title">Путешествую</h2>
        <div class="posts-grid">
          <a class="post-preview posts-grid__item" href="#">
            <div class="post-preview__picture">
              <img src="https://via.placeholder.com/1400x900" alt="Alt text" class="image">
            </div>
            <div class="post-preview__title">Татарстан (Казань и Болгар)</div>
            <div class="post-preview__date">Сентябрь 2021</div>
          </a>
          <a class="post-preview posts-grid__item" href="#">
            <div class="post-preview__picture">
              <img src="https://via.placeholder.com/1400x900" alt="Alt text" class="image">
            </div>          <div class="post-preview__title">Путешествие к Деду Морозу</div>
            <div class="post-preview__date">Ноябрь 2021</div>
          </a>
          <a class="post-preview posts-grid__item" href="#">
            <div class="post-preview__picture">
              <img src="https://via.placeholder.com/1400x900" alt="Alt text" class="image">
            </div>
            <div class="post-preview__title">10 дней в раю (Доминикана)</div>
            <div class="post-preview__date">Март 2020</div>
          </a>
        </div>
        <div class="main-page-section__show-more">
          <a class="button button_color_primary button_size_md button_with-shadow" href="#">
            <span class="button__inner">Все поездки</span>
          </a>
        </div>
      </section>
    </div>
  </div>
  {% include footer.liquid %}
</div>
