---
layout: default.liquid
title: Блог Максима
description: Я senior frontend engineer, пишу о разработке, путешествиях, а также обо всем, что меня интересует
keywords: frontend, фронтенд, ui, ux, javascript, typescript, css, html
---

<main class="posts content__main">
  {% assign posts = collections.post | reverse %}
  {% include posts.liquid %}
</main>
{% include tags.liquid %}

