---
layout: default.liquid
title: Максим Павлов
description: Максим Павлов — senior frontend engineer
keywords: frontend, фронтенд, ui, ux, javascript, typescript, css, html, angular, react
---

<main class="main-page page-inner container">
  <div class="main-page__primary">
    <h1 class="visually-hidden">Кратко обо мне</h1>
    <p class="main-page__intro">Я senior frontend engineer. Моя работа находится на пересечении дизайна и программирования.
    Я создаю интерфейсы веб-приложений, разрабатываю дизайн-системы, строю архитектуру. Пишу на React и Angular. Отлично знаю JavaScript и TypeScript.
    Люблю и умею верстать, внимателен к деталям, уделяю внимание доступности и производительности интерфейсов.</p>

    <div class="section-grid main-page__section">
      <div class="section-grid__column section-grid__column_narrow">
        <section class="main-page__section">
          <h2 class="h h_lvl_2">Пишу в <a href="/posts/">блог</a></h2>
          {% assign posts = collections.post | reverse | slice: 0, 3 %}
          <ul class="posts">
            {%- for post in posts -%}
              <li class="posts__item">
                <a href="{{ post.url | url }}">
                  {{ post.data.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </section>
        <section class="main-page__section">
          <h2 class="h h_lvl_2">Стек технологий</h2>
          {% include tech-stack.liquid %}
        </section>
        <section class="main-page__section">
          <h2 class="h h_lvl_2">Чем я могу быть полезен?</h2>
          <ul>
            <li>Верстка (адаптивная, кроссбраузерная)</li>
            <li>Разработка интерфейсов для веб-приложений</li>
            <li>Разработка дизайн-систем совместно с вашими дизайнерами</li>
            <li>Улучшение доступности сайта/веб-приложения</li>
            <li>Аудит клиентской части сайта/веб-приложения</li>
            <li>Настройка frontend-инфраструктуры</li>
          </ul>
        </section>
      </div>
      <div class="section-grid__column section-grid__column_wide">
        <section class="main-page__section">
          <h2 class="h h_lvl_2">Опыт</h2>
          <p>Мой опыт промышленной web-разработки составляет больше 6 лет. За это время я участвовал в разработке 40+ проектов различной сложности:
          от корпоративных сайтов и Интернет-магазинов до crm-систем и приложений со сложной клиентской логикой.</p>
          <p>Последние 3 года я сосредоточился на frontend-разработке. Благодаря тому, что за плечами
            у меня опыт работы fullstack-разработчиком, я хорошо понимаю как работает все веб-приложение, а не только его клиентская
            часть.</p>
          <p>У меня есть опыт разработки ui-kit'ов и дизайн-систем.</p>
          <p>
            <a class="button" href="/cv/">Мое резюме</a>
          </p>
        </section>
        <section class="main-page__section">
          <h2 class="h h_lvl_2">Стандарты качества</h2>
          <p>Высокое качество — мой главный приоритет в работе, и поэтому мои работы <em>по умолчанию</em>:</p>
          <ul>
            <li><strong>Соответствуют стандартам</strong></li>
            <li><strong>Оптимизированы для мобильных устройств</strong></li>
            <li><strong>Имеют полностью отзывчивый дизайн</strong>. Я предпочитаю подход <em>mobile first</em>.</li>
            <li><strong>Разработаны с учетом кроссбраузерности</strong>. Однако, это не значит, что приложение должно выглядеть одинаково во
              всех браузерах.
            </li>
            <li><strong>Оптимизированы с точки зрения производительности</strong></li>
            <li><strong>Доступны</strong>. Продукт должен быть пригодным для использования с помощью <em>асистивных технологий</em>.</li>
            <li><strong>Содержат чистый код</strong>, который легко поддерживать и масштабировать</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="main-page__secondary">
    <section class="main-page__section">
      <h2 class="visually-hidden">Пишите, подписывайтесь в социальных сетях</h2>
      <address class="main-page__contacts">
        <ul class="contacts">
          <li class="contacts__item">
            <a class="contacts__icon contacts__icon_email" href="mailto:me@maximpavlov.su" aria-label="email"></a>
          </li>
          <li class="contacts__item">
            <a class="contacts__icon contacts__icon_telegram" target="_blank" href="https://t.me/ifelseapps" aria-label="telegram"></a>
          </li>
          <li class="contacts__item">
            <a class="contacts__icon contacts__icon_github"  target="_blank" href="https://github.com/ifelseapps" aria-label="github"></a>
          </li>
          <li class="contacts__item">
            <a class="contacts__icon contacts__icon_twitter" target="_blank" href="https://twitter.com/ifelseapps" aria-label="twitter"></a>
          </li>
          <li class="contacts__item">
            <a class="contacts__icon contacts__icon_facebook" target="_blank" href="https://facebook.com/ifelseapps" aria-label="facebook"></a>
          </li>
        </ul>
      </address>
    </section>
    <section class="main-page__section">
      <h2 class="h h_lvl_3">Проекты</h2>
      <p>
        <em>Ниже представлен список моих личных проектов и наработок в различной степени готовности.</em>
      </p>
      <ul class="projects">
        <li class="projects__item">
          <a target="_blank" href="https://github.com/ifelseapps/ng-bricks">Ng-Bricks</a> — библиотека компонентов для Angular
        </li>
        <li class="projects__item">
          <a target="_blank" href="https://github.com/ifelseapps/typedoc-json-angular-parser/">Typedoc Angular parser</a> — парсер AST,
          построенного <em>typedoc</em>, для компонентов Angular
        </li>
        <li class="projects__item">
          <a target="_blank" href="https://github.com/ifelseapps/angular-modular-example">Пример модульного приложения на Angular</a>
        </li>
        <li class="projects__item">
          <a target="_blank" href="https://github.com/ifelseapps/bricks">Bricks</a> — библиотека компонентов для React
        </li>
        <li class="projects__item">
          <a target="_blank" href="https://github.com/ifelseapps/react-field-models">React field models</a> — hook для управления полями
          формы
        </li>
      </ul>
    </section>
  </div>
</main>
