---
layout: default.liquid
title: Максим Павлов
description: Максим Павлов — senior frontend engineer
keywords: frontend, фронтенд, senior frontend engineer, senior frontend developer, фронтенд-разработчик, ui, ux, javascript, typescript, react, redux
---
<div class="page">
  <div>
    {% include 'important.liquid' %}
    <header class="main-banner">
      <div class="container">
        <div class="main-banner__locales">
          {% include 'locales.liquid' %}
        </div>
      </div>
      <nav class="main-banner__menu container">
        {% include 'menu.liquid' %}
      </nav>
      <div class="main-banner__inner container">
        <div class="main-banner__info">
          <h1 class="main-banner__title">
            {% include 'name.liquid' %}
          </h1>
          <div class="main-banner__preview-text">
            Привет! Я — senior frontend engineer с 8,5 годами опыта. Разрабатываю интерфейсы
            в <a href="https://mts.ru" class="link-solid" target="_blank"><span class="link-solid__inner">МТС</span></a>.
            В&nbsp;свободное время я люблю путешествовать, изучаю иврит и английский, интересуюсь историей и гражданской авиацией.
          </div>
          <div class="main-banner__more">
            <a href="/about/" class="button button_color_white">
              <span class="button__inner">Подробнее</span>
            </a>
          </div>
        </div>
        <div class="main-banner__photo" aria-hidden="true">
          <div class="photo"></div>
        </div>
      </div>
    </header>
  </div>
  <main>
    <div class="container">
      <div class="top-section">
        <section class="tech-stack-section">
          <h2 class="h h_lvl_2 section-title">Стек технологий</h2>
          {% include 'tech-stack.liquid' %}
        </section>
        {% assign posts = collections.post | reverse | slice: 0, 3 %}
        <section class="pinned-post">
          <div class="pinned-post__top">
            <h2 class="h h_lvl_3 pinned-post__title">Свежий пост</h2>
          </div>
          <article>
            <a class="post-preview pinned-post__inner" href="{{ collections.favorite[0].url }}">
              <h3 class="post-preview__title">{{ collections.favorite[0].data.title }}</h3>
              <div class="post-preview__date">{{ collections.favorite[0].date | date_formatted }}</div>
              <div class="post-preview__description">{{ collections.favorite[0].data.preview_text }}</div>
            </a>
          </article>
        </section>
      </div>
      <section class="main-page-section">
        <h2 class="h h_lvl_1 section-title">Заметки</h2>
        <div class="main-page-section__tags">
          {% include 'tags.liquid' %}
        </div>
        {% include 'posts.liquid' %}
        <div class="main-page-section__show-more">
          <a class="button button_color_primary button_size_md button_with-shadow" href="/posts/">
            <span class="button__inner">Все заметки</span>
          </a>
        </div>
      </section>
      <section class="main-page-section">
        <div class="important-block">
          <div class="important-block__inner">
            <h2 class="h h_lvl_2 section-title important-block__title">Что я умею?</h2>
            <div class="services">
              <div class="services__column">
                <ul>
                  <li>Верстка (кроссбраузерно, адаптивно и доступно)</li>
                  <li>Разработка SPA-приложений на React</li>
                  <li>Имплементация дизайн-системы, разработанной вашим дизайнером</li>
                </ul>
              </div>
              <div class="services__column">
                <ul>
                  <li>Оптимизация производительности клиентской части сайта или приложения</li>
                  <li>Менторинг начинающих разработчиков</li>
                </ul>
              </div>
            </div>
            <hr class="line">
            <p>Подробнее с моим опытом можно познакомиться в разделе <a href="/about/">обо мне</a>.</p>
          </div>
        </div>
      </section>
      <section class="main-page-section">
        <h2 class="h h_lvl_1 section-title">Путешествую</h2>
        {% assign travels = collections.travel | reverse | slice: 0, 3 %}
        {% include 'travels.liquid' %}
        <div class="main-page-section__show-more">
          <a class="button button_color_primary button_size_md button_with-shadow" href="/travels/">
            <span class="button__inner">Все поездки</span>
          </a>
        </div>
      </section>
    </div>
  </main>
  {% include 'footer.liquid' %}
</div>
