---
layout: default.liquid
title: Максим Павлов
description: Максим Павлов — senior frontend engineer
keywords: frontend, фронтенд, ui, ux, javascript, typescript, css, html, angular, react
---
<div class="page">
  <header class="header container">
    <div class="index-desc">
      <p>Привет! Меня зовут Максим Павлов. Я&nbsp;&mdash;&nbsp;senior frontend engineer.
        Разрабатываю интерфейсы, которыми пользуются тысячи людей, в&nbsp;<a href="#">МТС</a>.
        В свободное время путешествую, учу иврит и английский, интересуюсь историей и гражданской авиацией.</p>
    </div>
    <nav class="main-menu header__menu">
      <ul class="main-menu__list">
        <li class="main-menu__item">
          <span>Главная</span>
        </li>
        <li class="main-menu__item">
          <a href="#">Заметки</a>
        </li>
        <li class="main-menu__item">
          <a href="#">Мир</a>
        </li>
        <li class="main-menu__item">
          <a href="#">Резюме</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="container page__content">Main content</main>
  <footer class="footer">
    <div class="container footer__inner">
      &copy;&nbsp;2018&nbsp;&mdash;&nbsp;2021&nbsp;<a href="mailto:me@maximpavlov.su">Максим Павлов</a>
    </div>
  </footer>
</div>
