---
layout: default.liquid
---
<main class="posts content__main">
  {% assign posts = collections.post | reverse %}
  {%- for post in posts -%}
    <article class="post-item posts__item">
      <h1 class="post-item__title">
        <a href="{{ post.url |  url }}">
          {{ post.data.title }}
        </a>
      </h1>
      <div class="post-item__desc">
        {{ post.data.desc }}
      </div>
    </article>
  {%- endfor -%}
</main>
<aside class="content__sidebar">
  <ul>
    <li>Верстка</li>
    <li>Accessibility</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Сборка</li>
    <li>Angular</li>
    <li>React</li>
    <li>Разное</li>
  </ul>
</aside>
