---
layout: default.liquid
title: Максим Павлов
description: Максим Павлов — senior frontend engineer
keywords: frontend, фронтенд, ui, ux, javascript, typescript, css, html, angular, react
---

<main>
  <section class="banner">
    <img class="banner__photo" src="/images/avatar.jpg" alt="Моя фотография"/>
    <div class="banner__about">
      <h1 class="banner__title">Senior frontend engineer</h1>
      <p>Моя работа находится на стыке дизайна и программирования. Я разрабатываю пользовательские интерфейсы для веб-приложений,
      которыми ежедневно пользуются тысячи людей. Я уделяю внимание доступности, производительности и отзывчивости.</p>
      <div class="banner__more">
        <a class="button" href="#">
          <span class="button__inner">Подробнее</span>
        </a>
      </div>
    </div>
  </section>
</main>
