---
layout: default.liquid
---
<main class="posts content__main">
  {%- for post in collections.post -%}
    <article class="posts__item">
      <h1>
        <a href="{{ post.url |  url }}">
          {{ post.data.title }}
        </a>
      </h1>
      {{ post.data.desc }}
    </article>
  {%- endfor -%}
</main>
<aside class="content__sidebar">
  <ul>
    <li>Верстка</li>
    <li>Accessibility</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Сборка</li>
    <li>Angular</li>
    <li>React</li>
    <li>Разное</li>
  </ul>
</aside>
