---
layout: default.liquid
title: Заметки
pagination:
  data: collections.post
  reverse: true
  alias: posts
  size: 9
---
{% assign posts = posts %}
<div class="page__tags">
  {% include 'tags.liquid' %}
</div>
{% include 'posts.liquid' %}
{% include 'pagination.liquid' %}
