---
layout: default.liquid
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - post
permalink: /tags/{{ tag }}/
---
<main class="posts content__main">
  <h1 class="posts__current-tag">
    <span class="tag">#{{ tag }}</span>
  </h1>
  {% assign posts = collections[tag] | reverse %}
  {% include posts.liquid %}
</main>
