---
layout: default.liquid
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - post
permalink: /posts/{{ tag }}/
eleventyComputed:
  keywords: "{{ tag }}"
  title: "{{ tag | capitalize }}"
---

{% assign posts = collections[tag] | reverse %}
<div class="page__tags">
  {% include tags.liquid %}
</div>
{% include posts.liquid %}
