---
layout: default.liquid
title: Проекты
---
<div class="posts-grid">
  <article class="post-preview posts-grid__item">
    <a class="post-preview__link" href="/projects/lego/">
      <h2 class="post-preview__title">lego</h2>
      <div class="post-preview__description">
        Библиотека react-компонентов для личных проектов на TypeScript.
      </div>
    </a>
  </article>
  <article class="post-preview posts-grid__item">
    <a class="post-preview__link" href="/projects/jewishhistory/">
      <h2 class="post-preview__title">jewishhistory.info</h2>
      <div class="post-preview__description">
        Интерактивный проект, для группировки и систематизации периодов, событий и личностей еврейской истории.
      </div>
    </a>
  </article>
</div>
