---
layout: default.liquid
title: jewishhistory.info
preview_text: Интерактивный проект для систематизации и группировки периодов, событий и личностей еврейской истории.
description: Интерактивный проект для систематизации и группировки периодов, событий и личностей еврейской истории.
---
<p>Я очень много читаю по иудаике и истории еврейского народа. Мне захотелось систематизировать полученную информацию в виде таймлайна с указанием эпох, событий и личностей еврейской истории. Я планирую охватить период, начиная с библейских времен и до настоящего времени.</p>
<p>Данные хранятся в markdown, при этом репозиторий с данными отделен от репозитория с сайтом. Парсер читает markdown-файлы и генерирует мета-информацию, на основе которой строится временная лента. Проект собирается в виде статического сайта.</p>
<p>Используемые технологии:</p>
<ul class="tags-list tags-list_color_primary tags-list_align_left">
  <li class="tags-list__item">Next.js</li>
  <li class="tags-list__item">Nx</li>
  <li class="tags-list__item">React</li>
  <li class="tags-list__item">TypeScript</li>
  <li class="tags-list__item">CSS</li>
  <li class="tags-list__item">Jest</li>
  <li class="tags-list__item">Enzyme</li>
</ul>
{% line %}
<div class="projects-links">
  <div class="projects-links__item">
    <a class="button button_color_primary" href="https://jewishhistory.info" target="_blank">
      <span class="button__inner">Посмотреть сайт</span>
    </a>
  </div>
  <div class="projects-links__item">
    <a href="https://github.com/jewishhistory/site" target="_blank">
      Исходный код на Github
    </a>
  </div>
</div>
