---
layout: default.liquid
title: Lego
preview_text: Библиотека react-компонентов на TypeScript.
description: Библиотека react-компонентов на TypeScript.
---
<div class="post-page">
  <div class="post-page__top">
    <a href="{{ page.url | split: '/' | slice: 0, 2 | concat: '' |  join: '/' }}">&larr; Вернуться назад</a>
  </div>
  <p>Я начал разработку своей библиотеки компонентов по двум причинам:</p>
  <ol>
    <li>Мне нужна хорошо кастомизируемая библиотека компонентов для личных проектов, с поддержкой accessibility</li>
    <li>Разработка дизайн систем и общих библиотек — это та область в которой я хочу развиваться</li>
  </ol>
  <p>Используемые технологии:</p>
  <ul class="tags-list tags-list_color_primary tags-list_align_left">
    <li class="tags-list__item">React</li>
    <li class="tags-list__item">TypeScript</li>
    <li class="tags-list__item">CSS</li>
    <li class="tags-list__item">Jest</li>
    <li class="tags-list__item">Enzyme</li>
    <li class="tags-list__item">Storybook</li>
    <li class="tags-list__item">Webpack</li>
  </ul>
  <p>Установка:</p>
  {% highlight bash %}
    npm install @ifelseapps/lego
  {% endhighlight %}

  {% line %}
  <div class="projects-links">
    <div class="projects-links__item">
      <a class="button button_color_primary" href="https://lego.maximpavlov.su" target="_blank">
        <span class="button__inner">Посмотреть Storybook</span>
      </a>
    </div>
    <div class="projects-links__item">
      <a href="https://github.com/ifelseapps/lego" target="_blank">
        Исходный код на Github
      </a>
    </div>
  </div>
</div>
